<!DOCTYPE html>
<html lang="en">

<head>
    <title>trying just</title>
</head>

<body class="container">


    <main>
        <div class="jumbotron">
            <h1>This is Open Weather Api</h1>
            <p>Lets Hope It Works</p>
        </div>
    </main>

</body>

</html>